{% extends 'store/setup/baseSetup.html' %}
{% block setup %}

<div class="row">
	<div class="col-md-6 mb-2">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<div class="icon-box icon-box-lg bg-success-light rounded-circle">
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.9715 29.3168C15.7197 29.3168 9.52686 30.4132 9.52686 34.8043C9.52686 39.1953 15.6804 40.331 22.9715 40.331C30.2233 40.331 36.4144 39.2328 36.4144 34.8435C36.4144 30.4543 30.2626 29.3168 22.9715 29.3168Z" stroke="#3AC977" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.9714 23.0537C27.7304 23.0537 31.5875 19.1948 31.5875 14.4359C31.5875 9.67694 27.7304 5.81979 22.9714 5.81979C18.2125 5.81979 14.3536 9.67694 14.3536 14.4359C14.3375 19.1787 18.1696 23.0377 22.9107 23.0537H22.9714Z" stroke="#3AC977" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="total-projects ms-3">
						<h3 class="text-success count">5,652k</h3>
						<span>Total Completed</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 mb-2">
		<div class="card">
			<div class="card-body">
				<div class="d-flex align-items-center justify-content-between">
					<div class="icon-box icon-box-lg bg-success-light rounded-circle">
						<svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.9715 29.3168C15.7197 29.3168 9.52686 30.4132 9.52686 34.8043C9.52686 39.1953 15.6804 40.331 22.9715 40.331C30.2233 40.331 36.4144 39.2328 36.4144 34.8435C36.4144 30.4543 30.2626 29.3168 22.9715 29.3168Z" stroke="#3AC977" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
							<path fill-rule="evenodd" clip-rule="evenodd" d="M22.9714 23.0537C27.7304 23.0537 31.5875 19.1948 31.5875 14.4359C31.5875 9.67694 27.7304 5.81979 22.9714 5.81979C18.2125 5.81979 14.3536 9.67694 14.3536 14.4359C14.3375 19.1787 18.1696 23.0377 22.9107 23.0537H22.9714Z" stroke="#3AC977" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
						</svg>
					</div>
					<div class="total-projects ms-3">
						<h3 class="text-success count">5,652k</h3>
						<span>Total Completed</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 mb-2">
		<div class="card" style="text-align:center;">
			<div class="card-body">
				<h5 class="card-title">Low Stock Alert</h5>
				<h4>{{orders_count}}</h4>
				<a href="">View Stocks</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 mb-2">
		<div class="card" style="text-align:center;">
			<div class="card-body">
				<h5 class="card-title">Damage Stocks</h5>
				<h4>{{orders_count}}</h4>
				<a href="">View Stocks</a>
			</div>
		</div>
	</div>

	<div class="col-md-6 mb-2">
		<div class="card" style="text-align:center;">
			<div class="card-body">
				<h5 class="card-title">Categories</h5>
				<h4>Total Categories</h4>
				<a href="{% url 'list_category' %}">View Categories</a>
			</div>
		</div>
	</div>
	<div class="col-md-6 mb-2">
		<div class="card" style="text-align:center;">
			<div class="card-body">
				<h5 class="card-title">Brands</h5>
				<h4>Total Brands</h4>
				<a href="{% url 'list_brand' %}">View Brands</a>
			</div>
		</div>
	</div>
	<div class="col-12 mb-2">
		<div class="card" style="text-align:center;">
			<div class="card-body">
				<h5 class="card-title">Products</h5>
				<h4>Total Products</h4>
				<a href="{% url 'list_product' %}">View Products</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}