<!-- ========================= FOOTER ========================= -->
<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-3">
				<p>Copyright © <script>
					document.write(new Date().getFullYear());
				</script> <a href="">{{ info.name }}</a>.</p>
			</div>
			<div class="col-md-9 text-md-center">
				<span class="px-2"><a href="mailto:{{ info.email }}"><i class="fa fa-envelope"></i> {{ info.email }}</a></span>
				<span class="px-2"><a href="tel:{{ info.contact }}"><i class="fa fa-lg fa-mobile-phone"></i> {{ info.contact }}</a></span>
				<span class="px-2"><i class="fa fa-map"></i> {{ info.address }}</span>
			</div>
		</section>
	</div><!-- //container -->
</footer>
<!-- ========================= FOOTER END // ========================= -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>

</body>
</html>