{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
        <div class="row">
            <aside class="col-lg-8">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="row">
                            <h5 class="col-8">Delivery Address</h5><a href="" class="fa fa-edit col-4 text-right mt-2"> Edit</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text mb-0">{{order.full_name}}</p>
                        <p class="card-text mb-0">{{order.email}}</p>
                        <p class="card-text mb-0">{{order.phone}}</p>
                        {% if order.delivery_address %}
                        {% if order.delivery_address.floor %}
                            <p class="card-text mb-0">{{order.delivery_address.postal_code}}{% if order.delivery_address.floor %}, #{{order.delivery_address.floor}}-{{order.delivery_address.unit}}{% endif %}</p>
                            <p class="card-text mb-0">{{order.delivery_address.full_address}}</p>
                        {% endif %}
                        {% endif %}

                        {% if order.order_note %}
                        <b>Order Note: </b> {{order.order_note}}
                        {% endif %}
                    </div>
                </div>

                <div class="card mb-3">
                    <h5 class="card-header">Review Products</h5>
                    <div class="card-body">
                        <table class="table table-borderless table-shopping-cart">
                            <thead class="text-muted">
								<tr class="small text-uppercase">
									<th scope="col">Product</th>
									<th scope="col" width="120">Quantity</th>
									<th scope="col" width="120">Price</th>
								</tr>
                            </thead>
                            <tbody>
                            {% for cart_item in cart_items %}
								<tr>
									<td>
										<figure class="itemside align-items-center">
											<div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm">
											</div>
											<figcaption class="info">
												<a href="{{ cart_item.product.get_url }}" class="title text-dark">{{ cart_item.product.product_name }}</a>
												<p class="text-muted small">
												</p>
											</figcaption>
										</figure>
									</td>
									<td>
										<label>{{cart_item.quantity}}</label>
									</td>
									<td>
										<div class="price-wrap">
											<var class="price">$ {{ cart_item.sub_total }}</var>
											<small class="text-muted"> $ {{ cart_item.product.price }} each </small>
										</div>
									</td>
								</tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </aside>
            <aside class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">$ {{total}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Tax:</dt>
                            <dd class="text-right"> $ {{tax}}</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Delivery Fee:</dt>
                            <dd class="text-right text-dark b">$ <span id="id_delivery_fee">{{delivery_fee}}</span></dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Grand Total:</dt>
                            <dd class="text-right text-dark b"><strong>$ <span id="id_grand_total">{{grand_total}}</span></strong></dd>
                        </dl>
                        <hr>
                        <h6 class="card-header p-2">Payment Method</h6>
                        <form action="{% url 'paid_order' order.order_number %}" id="idCompleteOrder" method="post" onsubmit="prevent_multi_submit(idCompleteOrder, idProceed)"> {% csrf_token %}
                            <select id="paymentType" name="payment_method" class="form-control" onchange="updatePaymentMethod(this.value)" required>
                                {% for method in payment_methods %}
                                <option value="{{ method.id }}" {% if request.GET.site == site.uuid|slugify %}selected{% endif %}>{{ method.payment_method }}</option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary w-100 mt-3" id="idProceed">Proceed</button>
                        </form>
                        {% comment %}
                        <div class="separator mt-3 mb-3">OR</div>
                        <p class="text-center mb-3">
                            <img src="{% static './images/misc/payments.png' %}" height="26">
                        </p>
                        <div id="paypal-button-container"></div>
                        {% endcomment %}
                    </div>
                </div>
                <div class="alert alert-danger mt-3" role="alert" id="id_desc_section" style="display: none;">
                    <b>Please Note: </b> <span id="id_payment_desc"></span>
                </div>
            </aside>
        </div>
    </div>
</section>

{% include 'orders/_jsUpdatePayment.html' %}
{% include 'orders/_jsPaypal.html' %}

{% endblock %}